<!DOCTYPE html>
<html lang="en">
	<head>
        <%- include('../includes/layout/head') %>
	</head>
	<body>
		<header>
            <%- include('../includes/layout/header') %>
        </header>

		<main>
            <div class="fixed left-1/2 bottom-16 -translate-x-1/2 z-100 pointer-events-none animate-flash-message">
                <% if (successMessages.length > 0) { %>
                    <% successMessages.forEach(function(message) { %>
                        <p class="px-16 py-10 text-subheading font-semibold rounded-4 text-neutral-10 bg-[#2bd45b]"><%= message %></p>
                    <% }) %>
                <% } %>
            
                <% if (errorMessages.length > 0) { %>
                    <% errorMessages.forEach(function(message) { %>
                        <p class="px-16 py-10 text-subheading font-semibold rounded-4 text-neutral-10 bg-[#d42b2b]"><%= message %></p>
                    <% }) %>
                <% } %>
            </div>

            <%- body %>
        </main>

		<footer class="mt-112 bg-neutral-900">
            <%- include('../includes/layout/footer') %>
        </footer>
	</body>
</html>
