<%- include('./includes/components/counter') %>

<section class="container">
    <div class="flag-pattern"></div>
</section>

<section class="container">
    <h2 class="lg:h1 pr-16 inline-block relative z-10 bg-background">News</h2>

    <div
        class="pt-[28px] lg:pt-40 pr-0 lg:pr-40 -mt-[28px] lg:-mt-40 border-t-10 border-r-0 lg:border-r-10 rounded-tr-0 lg:rounded-tr-40 border-primary-300"
    >
        <ul class="gap-16 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
            <%- include('./includes/components/article.ejs') %>
            <%- include('./includes/components/article.ejs') %>
            <%- include('./includes/components/article.ejs') %>
            <%- include('./includes/components/article.ejs') %>
            <%- include('./includes/components/article.ejs') %>
            <%- include('./includes/components/article.ejs') %>
            <%- include('./includes/components/article.ejs') %>
            <%- include('./includes/components/article.ejs') %>
            <%- include('./includes/components/article.ejs') %>
            <%- include('./includes/components/article.ejs') %>
            <%- include('./includes/components/article.ejs') %>
            <%- include('./includes/components/article.ejs') %>
        </ul>
    </div>
</section>

<section class="container pt-112">
    <header class="mb-16 gap-16 flex items-center">
        <h3 class="shrink-0">Explore F1 topics</h3>
        <div class="w-full h-10 bg-primary-300"></div>
    </header>

    <ul class="gap-16 grid grid-cols-2 lg:grid-cols-4">
        <li>
            <a
                class="h-200 rounded-16 relative overflow-hidden text-neutral-10 group"
                href="https://www.formula1.com/en/latest/tags/impact.2Xv0Ky85GUqpD8aP9sgUwq"
                target="_blank"
            >
                <h4 class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-20">Impact</h4>
                <div class="absolute inset-0 bg-gradient-to-t from-neutral-900/80 to-neutral-900/20 z-10"></div>
                <img
                    class="object-cover transition-transform group-hover:scale-110"
                    src="../assets/images/placeholder-1.jpg"
                    alt=""
                />
            </a>
        </li>

        <li>
            <a
                class="h-200 rounded-16 relative overflow-hidden text-neutral-10 group"
                href="https://www.formula1.com/en/latest/tags/race-calendar.2Sa4DEdBSUMcOqa8aYceEe"
                target="_blank"
            >
                <h4 class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-20">Calendar</h4>
                <div class="absolute inset-0 bg-gradient-to-t from-neutral-900/80 to-neutral-900/20 z-10"></div>
                <img
                    class="object-cover transition-transform group-hover:scale-110"
                    src="../assets/images/placeholder-2.jpg"
                    alt=""
                />
            </a>
        </li>

        <li>
            <a
                class="h-200 rounded-16 relative overflow-hidden text-neutral-10 group"
                href="https://www.formula1.com/en/latest/tags/podcasts.5Wy3IsJQnmweQC6igqEOio"
                target="_blank"
            >
                <h4 class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-20">Podcasts</h4>
                <div class="absolute inset-0 bg-gradient-to-t from-neutral-900/80 to-neutral-900/20 z-10"></div>
                <img
                    class="object-cover transition-transform group-hover:scale-110"
                    src="../assets/images/placeholder-3.jpg"
                    alt=""
                />
            </a>
        </li>

        <li>
            <a
                class="h-200 rounded-16 relative overflow-hidden text-neutral-10 group"
                href="https://www.formula1.com/en/latest/tags/esports.N0CpHwC3MAUK4iwAEYi6e"
                target="_blank"
            >
                <h4 class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-20">Esports</h4>
                <div class="absolute inset-0 bg-gradient-to-t from-neutral-900/80 to-neutral-900/20 z-10"></div>
                <img
                    class="object-cover transition-transform group-hover:scale-110"
                    src="../assets/images/placeholder-4.webp"
                    alt=""
                />
            </a>
        </li>
    </ul>
</section>