<li class="link-overlay-box flex flex-col group">
	<figure class="aspect-w-4 aspect-h-3 rounded-16 rounded-br-0 overflow-hidden">
		<img class="object-cover transition-transform group-hover:scale-110" src="<%= article.image %>" alt="" />
	</figure>

	<article
		class="pr-8 md:pr-16 pb-8 md:pb-16 mt-16 flex-1 border-r-2 border-b-2 border-neutral-40 rounded-br-16 transition-colors group-hover:border-primary-300"
	>
		<small class="px-5 py-2 mb-8 inline-block font-bold rounded-4 text-neutral-10 bg-primary-300"> <%= article.category %> </small>

		<a class="link-overlay block" href="/blog/<%= article.slug %>/<%= article.id %>">
			<p class="line-clamp-3"><%= article.text %></p>
		</a>
	</article>
</li>
